<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Museumsfinder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}" />
</head>
<body>
    <app data-tags='{{ tags|json_encode|raw }}' data-categories='{{ categories|json_encode|raw }}'>Loading...</app>
    <script type="text/javascript" src="{{ asset('ng/inline.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ng/polyfills.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ng/vendor.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ng/main.bundle.js') }}"></script>
</body>
</html>
